body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*margin: 35px;utilizando margem com shorthand (atalho), margem sempre e colocada no sentido horario, de cima para a direita...*/ 
    margin-top: 65px;
    margin-right: 90px;
    margin-bottom: 130px;
    margin-left: 180px;
    border-style: solid;
    border-width: 3px;
    border-style: dotted;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/
    padding: 100px 20px;/*atalho para definir respectivamente preenchimento com 50px acima e abaixo e 20px direita e esquerda*/
}

h1{
    background-color:rgb(4, 109, 27);
    color:rgb(167, 233, 211);    color:rgb(167, 233, 211);
}

span{
    background-color:rgb(4, 109, 27);
    color:rgb(167, 233, 211);
    display:block;
}

p{
    background-color:rgb(4, 109, 27);
    color:rgb(167, 233, 211);
    display:inline;/*altera a propriedade de block-level para inline*/
}

div{
    border:solid;
    margin: 12px;
    padding: 5px;
    background-color: rgb(115, 202, 243);
    color: rgb(11, 11, 223);
}

.box3{
    background-color:rgb(11, 11, 223);
    color: rgb(115, 202, 243);
    width: 550px;
    height: 50px;
    position:absolute;
    top: 0px;
}

.box1{
    background-color:rgb(122, 105, 6) ;
    color: rgb(231, 207, 68);
    width: 550px;
    height: 50px;
    position: static;
    top: 500px;
    left: 500px;
}

.box2{
    background-color:rgb(238, 168, 89) ;
    color: red ;
    width: 550px;
    height: 50px;
    position: relative;
    left: 250px;
}

.box4{
    background-color:rgb(228, 99, 228) ;
    color:purple ;
    width: 550px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
}
.box5{background-color:rgb(255, 81, 0) ;
    color: black;
    width: 550px;
    height: 50px;
    position: sticky;
    bottom: 200px;
    left: 150px;
}
