body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 240, 240);
}

.nav{
    background-color: #666666;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

iframe{
    padding: 10px 20px 10px 20px;
}

.links a{ 
    color: #ffffff;
}

.links a:hover{ /* muda a cor do hyperlink */
    color: #000000;
}

.links{
text-align: right;
}

.youtube{
   text-align: center;
}

.rodape{
    background-color: #666666;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 10px;
}